* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif
}

body, input, label {
    font: inherit;
}

input, label {
    transition: all 0.2s;
    touch-action: manipulation;
}

body {
    background-color: #eee;
    padding: 2em;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-form {
    flex-grow: 1;
    max-width: 400px;
    background-color: #fff;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

.login-form .field:not(:last-child)  {
    margin-bottom: 1.5em;
}

.field {
    display: flex;
    flex-wrap: wrap;
}

.field input {
    display: block;
    width: 100%;
    padding: 0.8em 0.14em;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease-in
}

.field label {
    font-weight: bold;
    order: -1;
}

.field span {
    font-size: 0.9em;
    opacity: 0.7;
    font-style: italic;
}

.login-form h2 {
    margin-bottom: 2em;
}


.field input[type="submit"] {
    background-color: #eee;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s ease-in
}

.field input:user-invalid {
    border-color: red;
}

.field input:user-valid {
    border-color: rgb(43, 181, 43);
}

.field input:user-invalid ~ label {
    color: red;
}


.field input:user-valid ~ label {
    color: rgb(43, 181, 43);
}

.field input[type="submit"]:hover {
    background-color: #01010133;
}

input:placeholder-shown ~ label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.2);
}

::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

input:focus::-webkit-input-placeholder {
    opacity: 1;
  }

input:not(:placeholder-shown) ~ label,
input:focus ~ label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}