* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    padding: 2em;
    font: 14px/1.5 Arial sans-serif;
}

.site-section {
    max-width: 900px;
    background-color: #fff;
    margin: 0 auto;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow:  0 0 1em 0 rgb(0, 0, 0 ,0.1);
}

.columns {
    margin: 2em;
    display: flex;
    gap: 2em;
    
}

.site-section header,
.site-section footer {
    text-align: center;
}

.site-section header p {
    padding-bottom: 2em;
    width: 50%;
}
.site-section footer p {
    padding: 2em;
    width: 85%;
}

.site-section header p,
.site-section footer p {
    margin: 0 auto;
    opacity: 0.7;
}

.site-section header::after,
.site-section footer::before {
    display: block;
    content: '';
    border: 1px solid #eee;
    width: 5em;
    margin: 0 auto;
}
